
@use '../custom' as *;
@use '../components/mixins' as *;

.intro-section{
    @include gradient;
    padding: 10rem 0 0 0;
    width: 100%;
    height: 100%;

}

.intros{


    .video-box{
        position: relative;


        a{
            @include absoluteCenter;


            span{


                i{
                    font-size: 6rem;
                    color: $secondary;

                }
            }
        }
    }
}

.border-animation{
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    border: 0.55rem solid $white;
    border-radius: 50%;
    //@include absoluteCenter;
    animation: pulse-border 1.5s linear infinite;


    &--border-1{
        animation-delay: 1s;
    }
    &--border-2{
        animation-delay: 1.5s;
    }
}

//popup
.popup{
    font-family: 'Poppins', sans-serif;
    width: 400px;
    background: $white;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 25%;
    transform: translate(-50%, -50%) scale(0.9);

    @include media-breakpoint-up(lg){
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    } 
}

.popup h3{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: $blue1;
    color: $white;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba($black, 0.2);

}
